/* Universals */

html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;


}
body {
  background-color: black;
}
a {
  text-decoration: none;
  color: white;
}
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

/* Page/site containers */
.pagecontainer {
  display: flex;
  justify-content: center;
}

.sitecontainer {
  display: flex;
  flex-direction: column;
  width: 960px;

}

/* Logo/header */


.logocontainer {
  display: inline-flex;
  align-items: center;
  margin-left: 6rem;
  height: 2.82rem;


}
.logoimg img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;


}
.logotext {

  font-size: 1rem;
  text-transform: uppercase;

}

/* splash container */

.splashcontainer {
  display: flex;

  align-items: center;
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;

}
.splashbox {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: black;
  margin-left: 6rem;
  margin-top: 7rem;


}
.splashboxsmallheader {

  font-size:  1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;


}
.splashboxlargeheader {

  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;


}
.splashboxlargeheader2 {

  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;


}
/* nav container */

.navwrapper {
  display: flex;
  justify-content: center;

}

.navcontainerpc {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 2.82rem;
  width: 100%;
  background-color: firebrick;
  padding-left: 6rem;
  padding-right: 6rem;

}
.navcontainertablet {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 2.82rem;
  width: 100%;
  background-color: firebrick;
  padding-left: 6rem;
  padding-right: 6rem;

}

/* Products Container */


.productswrapperpc {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

.productscontainerpc {

  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
  width: 77%;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;

}
.productpc {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 30%;
  width: 30%;
  height: 9rem;
  overflow: hidden;

}
.productpc img {
  height: auto;
  width: 7rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;

}
.productbottompc {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 35%;
  width: 35%;
  height: 9rem;
  overflow: hidden;

}
.productpc span {
  background-color:black;
  height: auto;
  width: 100%;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;

}

.producttextpc {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 30%;
  width: 30%;
  height: 2rem;
  background-color: black;
  overflow: hidden;

}
.producttextbottompc {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid black;
  max-width: 35%;
  width: 35%;
  height: 2rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  background-color: black;
  overflow: hidden;

}
/* products section tablet */
.productswrappertablet {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  overflow: hidden;
}
.productscontainertablet {

  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;

}
.producttablet {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 47%;
  width: 47%;
  height: 9rem;
  overflow: hidden;

}
.producttablet img {
  height: auto;
  width: 7rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;

}
.productbottomtablet {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 35%;
  width: 35%;
  height: 9rem;
  overflow: hidden;

}
.producttablet span {
  background-color:black;
  height: auto;
  width: 100%;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;

}

.producttexttablet {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 47%;
  width: 47%;
  height: 2rem;
  background-color: black;
  overflow: hidden;

}
.producttextbottomtablet {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid black;
  max-width: 35%;
  width: 35%;
  height: 2rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  background-color: black;
  overflow: hidden;

}
/* Products Container phone*/


.productswrapperphone {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

.productscontainerphone {

  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  width: 77%;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;

}
.productphone {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 90%;
  width: 90%;
  height: 9rem;
  overflow: hidden;

}
.productphone img {
  height: auto;
  width: 7rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;

}
.productbottomphone {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 35%;
  width: 35%;
  height: 9rem;
  overflow: hidden;

}
.productphone span {
  background-color:black;
  height: auto;
  width: 100%;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;


}

.producttextphone {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  max-width: 90%;
  width: 90%;
  height: 2rem;
  background-color: black;
  overflow: hidden;

}
.producttextbottomphonegeo {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid black;
  max-width: 90%;
  width: 90%;
  height: 2rem;
  margin-top: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
  background-color: black;
  overflow: hidden;

}
.producttextbottomphonehours {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid black;
  max-width: 90%;
  width: 90%;
  height: 2rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
  background-color: black;
  overflow: hidden;

}




/* hours and location text for pc */
.hourslocationpc {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 2rem;
  background-color: white;
  color: black;
  overflow: hidden;

}
/* hours and location text for tablet */
.hourslocationtablet {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 2rem;
  background-color: white;
  color: black;
  overflow: hidden;



}


/* hours and location for phone */
.hourslocationphonegeo {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 2rem;
  background-color: white;
  color: black;
  overflow: hidden;

}
.hourslocationphonehours {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 2rem;
  background-color: white;
  color: black;
  overflow: hidden;

}
.productswrappertablet {
  display: none;
}
.productswrapperphone {
  display: none;
}

/* footer for pc */
.footerpc {
  display: flex;
  height: 5rem;
  justify-content: flex-start;
  align-items: center;
  margin-left: 6rem;

}
/* footer for tablet */
.footertablet {
  display: flex;
  height: 5rem;
  justify-content: flex-start;
  align-items: center;
  margin-left: 6rem;

}
/* footer for phone */
.footerphone {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  /* margin-left: 6rem; */

}
.footertablet {
  display: none;
}
.footerphone {
  display: none;
}

/* media query for tablet */

@media only screen and (max-width: 1024px) {
  .logocontainer {
    display: inline-flex;
    align-items: center;
    margin-left: 0rem;
    height: 2.82rem;


  }
  .splashbox {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: black;
    margin-left: 0rem;
    margin-top: 7rem;


  }
  .navcontainerpc {
    display: none;
  }
  .navcontainertablet {
    display: inline-flex;
    justify-content: center;
  }
  .productswrapperpc {
    display: none;
  }
  .productswrapperphone {
    display: none;
  }
  .productswrappertablet {
    display: flex;
  }

  .footerpc {
    display: none;
  }
  .footertablet {
    display: flex;
    height: 5rem;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0rem;

  }



}
@media only screen and (max-width: 470px) {
  .productswrapperpc {
    display: none;
  }
  .productswrappertablet {
    display: none;
  }
  .productswrapperphone {
    display: flex;
  }

  .logocontainer {
    display: inline-flex;
    align-items: center;
    margin-left: 0rem;
    height: 2.82rem;


  }
  .splashcontainer {
    display: flex;

    align-items: center;
    height: 15rem;
    width: 100%;
    background-image: url("../images/moto.jpeg");
    background-size: cover;
    background-position: center;

  }
  .splashbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    margin-left: 0rem;
    margin-top: 10rem;


  }
  .navcontainerpc {
    display: none;
  }
  .splashboxsmallheader {

    font-size:  0.77rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    text-transform: uppercase;


  }
  .splashboxlargeheader {

    font-size: 1rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;


  }
  .splashboxlargeheader2 {

    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;


  }
  .productphone {
  order: 1;
  }
  .producttextphone {
    order: 2;
  }
  .producttextbottomphonegeo {
    order: 3;
  }
  .hourslocationphonegeo {
    order: 4;
  }
  .producttextbottomphonehours {
    order: 5;
  }
  .hourslocationphonehours {
    order: 6;
  }

  .footerpc {
    display: none;

  }
  .footertablet {
    display: none;
  }
  .footerphone {
    display: flex;
    text-align: center;
  }
  a[href^=tel] {
    color: inherit;
    text-decoration: none;
  }
}
@media only screen and (min-width: 1600px) {
  .sitecontainer {
    width: 100%;
  }
  .hourslocationpc {
    width: 38%;
  }
  .productscontainerpc {

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
    width: 89%;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;

  }

}
